<div class="dn-side-bar hide-for-small dn-initial" style="display: block;">
  <div class="dn-blog-name">
    <span class="adjust dn-blog-name-sz md-aj">Okan Vurdu</span>
  </div>
  <div class="uimg" style="background-image: url(/img/ov.jpg)"></div>
  <div class="dn-side-menu">
      <div class="dn-center">
        <ul class="side-nav" style="display: none">
          <li><a href="/" class="dn-ajx-link">Anasayfa</a></li>
          <li><a href="/about-me" class="dn-ajx-link">Hakkımda</a></li>
        </ul>
        <div class="dn-menu-sec">
          <div class="dn-show-menu">
            <a class="dn-show-menu-action open"><span class="dn-icon-arrow-down"></span></a>
          </div>
        </div>
        <hr class="dn-msep">
        <div class="dn-menu-sec">
          <a class="night-day-action"><span class="dn-clock"></span></a>
          <span class="dn-time">1:53 ÖÖ</span>
        </div>
        <hr class="dn-msep">
      </div>
    </div>
</div>
