---
layout: default
---
<div class="large-12 medium-12 small-12 columns adjust dn-post-c sm-aj">
  <article class="large-12 medium-12 small-12 columns post adjust dn-no-sps sm-aj">
    <header class="post-header">
      <div class="large-6 medium-6 small-6 columns no-sp">
        <div class="dn-sep">“</div>
      </div>
      <div class="large-6 medium-6 small-6 columns no-sp">
        <div class="dn-author">Okan Vurdu tarafından</div>
      </div>
      <div class="large-12 medium-12 small-12 columns no-sp dn-date ">
        <div class="dn-head-meta dn-date-share"><time datetime="{{ page.date | date: "%b %-d, %Y" }}">{{ page.date | date: "%b %-d, %Y" }}</time></div>
      </div>
    </header>

    <section class="large-12 medium-12 small-12 columns no-sp">
      <h2 class="post-title">{{ page.title }}</h2>
      <section class="post-content">
        {{ content }}
      </section>
      <span class="post-meta"></span>
    </section>
    <section class="large-12 medium-12 small-12 columns no-sp disqus-comments" style="margin-top: 3rem">
      <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'okanvurdu';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </section>
  </article>
</div>
